<div id="<%= dom_id rating %>">
  <div>
    <strong>Value:</strong>
    <%= rating.value %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= rating.product_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= rating.user_id %>
  </div>

</div>
