<div id="<%= dom_id order %>">
  <div>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

  <div>
    <strong>User:</strong>
    <%= order.user_id %>
  </div>

</div>
